@media screen and (max-width: 900px) 
{
	input
	  {
	  	margin-top: 100px;
	  }
}

@media screen and (max-width: 993px) 
{
	input
	  {
	  	margin-top: 50px;
	  }
}

@media screen and (max-width: 425px) 
{
	#logo
	{
	    width: 140px;
	    height: 60px;
	}
}

@media screen and (max-width: 1000px) 
{
	.pers_con 
	{
	  	transform: translateX(10%)!important;
	}
}

@media screen and (min-width: 1200px) 
{
	.pers_con 
	{
	  	transform: translateX(45%)!important;
	}
}